<home>
  <div class="container">
          <p>
        You are authenticated. You can see the
        <a href="/secret">
          secret page
        </a>!
      </p>
      <button onClick="logout">
        Logout
      </button>

  </div>

  <script>
    export default {
      onBeforeMount() {
        
      },
      logout() {

      }
    }
  </script>
</home>
