<secret>
  <div class="container">
    <h1>This is secret page.</h1>
    <a href="/">
      Back home
    </a>
  </div>

  <script>
    import Cookie from 'js-cookie'

    export default {
      onBeforeMount() {
        !Cookie.get('auth') && this.router.push('/login')
      }
    }
  </script>
</secret>
