<secret>
  <div class="container">
    <h1>This is secret page.</h1>
    <a href="/">
      Back home
    </a>
  </div>

  <script>
    export default {
      onBeforeMount() {
        
      }
    }
  </script>
</secret>
