<secret>
  <div class="container">
    <h1>This is secret page.</h1>
    <a href="/">
      Back home
    </a>
  </div>

  <script>
    import auth from '../../libs/authenticated'

    export default {
      onBeforeMount() {
        auth(this.router)
      }
    }
  </script>
</secret>
